*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: black;
  font-family: "helvetica neue";
  text-align: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.myclock{
  width: 500px;
  height: 500px;
  position: relative;
  border: 10px solid white;
  border-radius: 50%;
  position: absolute;
  box-shadow:
  0 0 0 4px rgba(0,0,0,0.1),
  inset 0 0 0 3px #EFEFEF,
  inset 0 0 10px rgba(0,0,0,0.2);
}


/*.myclock-face{
  position: relative;
  width: 100%;
  height: 100%;
/*transform: translate(-3px); /*clock hands

}
*/
.minute-hand{
  width: 8px;
  height: 200px;
  background: white;
  position: absolute;
  left: 249px;
  bottom: 249px;
  transform-origin:0 100%;
  /*transform: rotate(90deg);*/

}

.hour-hand{
  width: 6px;
  height: 150px;
  background: white;
  position: absolute;
  left: 248px;
  bottom: 248px;
  transform-origin: 0 100%;
  /*transform: rotate(90deg);*/

}

.second-hand{
  width: 3px;
  height: 220px;
  background: red;
  position: absolute;
  bottom: 249px;
  transform-origin: 0 100%;
  left: 249px;
  /*transform: rotate(90deg);*/
  /*transition: all 0.05s;*/
  /*transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);*/
}

.cover{
  position:absolute;
  left: 245px;
  border-radius: 5px;
  background-color: white;
  width: 12px;
  height: 12px;
  bottom: 245px;
}
